<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <h1><%=@review_user%> commented on your post.</h1>
    <p>Log in to find out at <a href="twikr.herokuapp.com">TWIKR</a></p>
  </body>
</html>
