img {
  margin-top: 1rem;
  border-radius: 10%;
}

form#search-form {
  margin: .0625rem .0625rem;
  display: inline;
}

@font-face {
  font-family: BebasNeue;
  src: url(asset-path('./fonts/BebasNeue.otf'));
}

h1 {
  font-family: BebasNeue;
  text-align: center;
  font-size: 9.375rem;
  color: #2aa0e5;
  height: 10rem;
}

h2 {
  font-family: BebasNeue;
  text-align: center;
  font-size: 4.6875rem;
  color: #2aa0e5;
  -webkit-transition: font-size 1s ease-out;
  -moz-transition: font-size 1s ease-out;
  -o-transition: font-size 1s ease-out;
  transition: font-size 1s ease-out;
}

h2:hover {
  font-size: 4.9375rem;
  cursor: pointer;
}

.tweet-block {
  margin: 1rem 1rem;
  border: solid;
}

h3 {
  font-family: BebasNeue;
}

h4 {
  font-family: BebasNeue;
  padding-bottom: .3125rem;
}

input.search {
  border: solid
}

div.panel {
  transition-duration: 1s;
}

div.panel:hover {
  box-shadow: .3125rem .3125rem .3125rem grey;
}

div.panel.white {
  background-color: #FFF;
}

.search-form-container {
  width: 100%;
  overflow: hidden;
}

.body {
  padding-top: 2rem;
}

.tweet-body {
  background-color: #FFF;
  margin: 0rem 4rem;
  border: .0625rem solid #cccccc;
  border-width: .0625rem;
  height: 3rem;
}

.reviews {
  padding-left: 4rem;
}

.comment-form {
  padding: 1rem;
}
